<% if f.object.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(f.object.errors.count, "error") %> prohibited this article from being saved:</h4>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
